input{
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid grey;

}

.formInput{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 125px;
    
}
span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;

}
input:invalid[focused="true"]~span{
    display: block;

}
input:invalid[focused="true"]{
   border:1px solid red;
   
}

/* border: none;  
background-color: rgb(229, 226, 226);
height: 4em;
width: 80%;
border-radius: 0.25em;
text-align: center;
padding: 2rem; */