@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  /* margin: 0; */
  font-family: 'Source Sans Pro',sans-serif;
}

.app {
  display: flex;
  position: relative;

}

::-webkit-scrollbar {
  width: 10px;
}
/*track*/

::-webkit-scrollbar-track {
  background-color: #e0e0e0;

}

/*Handle*/

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.header-logo{
  width: 100px;
  height: 30px;
  align-items:left;
}
