@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  /* margin: 0; */
  font-family: 'Source Sans Pro',sans-serif;
}

.app {
  display: flex;
  position: relative;

}

::-webkit-scrollbar {
  width: 10px;
}
/*track*/

::-webkit-scrollbar-track {
  background-color: #e0e0e0;

}

/*Handle*/

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.header-logo{
  width: 100px;
  height: 30px;
  align-items:left;
}





.react-tabs {
  display: flex;
  margin-left: 0px;
  width: 100%;
  height: 94vh;
  /* background: rgb(244, 250, 253); */
  /* background-color: #ffffff; */
 
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 250px;
  left: 0px;
  position: relative;
  margin: 0;
  padding: 0;
  color: white;
  background: #060420;
}

.react-tabs__tab {
  height: 70px;
  list-style: none;
  padding: 12px 6px;
  cursor: pointer;
  /* color: #bbb; */
}

.react-tabs__tab#sensor_page{
  color: red;
}

.react-tabs__tab--selected {
  background: rgb(43, 88, 185);
  border-color: #1c1d1f;
  border-left: 4px ;
  
  border-left: 4px solid #00b8a9;
  color: white;
}

.react-tabs__tab-panel {
  display: none;
  width: 100%;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab {
  padding-left: 24px;
}

.react-tabs__tab--selected {
  padding-left: 21px;
}

.panel-content {
  /* text-align: center; */
}
.navbar-brand{
  font-size: 30px;
  font-weight: 600;
  color: rgb(24, 216, 24);
}
.header-logo{
  width: 100px;
  height: 50px;
}
header{
  box-shadow: 0 4px 8px 0 rgba(41, 248, 220, 0.2), 0 6px 20px 0 rgba(26, 243, 142, 0.19);
}
.cardBx{
  box-shadow: 0 4px 8px 0 rgba(41, 248, 220, 0.2), 0 6px 20px 0 rgba(26, 243, 142, 0.19);
  height: 214px;
  background-color: white;
  border-radius: 5px;
  border-top: 2px solid rgb(255, 0, 170);
}
/* 74ffa0 */

/* div.cardBx:nth-child(1) {
  background: red;
}
div.cardBx:nth-child(2) {
  background: rgb(0, 255, 64);
} */
h2{
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}
.header{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1{
  font-size: 24px;
  font-weight: 600;
  color: #111;
}
/* .home-screen{
  background-color: red;
} */
.danger {
  color: #a02020;
}

.alert {
  padding: 2rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  top: 15px;
  position: relative;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.orgScreen{
  /* background-color: #484291; */
  height: calc(100vh - 6vh);
}
.org-name{
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
}
.cardBx:hover{
  /* box-shadow: 0 4px 8px 0 rgb(255, 251, 1), 0 6px 20px 0 rgba(255, 251, 0, 0.925); */
  box-shadow: 0 4px 8px 0 rgb(225, 1, 255), 0 6px 20px 0 rgba(255, 0, 234, 0.925);
  transition: all 0.5s;
}
.chart:hover{
  box-shadow: 0 4px 8px 0 rgb(225, 1, 255), 0 6px 20px 0 rgba(255, 0, 234, 0.925);
  transition: all 0.5s;
}
/* .home-screen{
  background-color: #484291;
} */
.empty{
  align-items: center;
  display: flex;
  justify-content: center;
}
.fa-plus-circle{
  font-size: 25px;
  color: #14204e;
  margin: 5px;
}
h5{
  align-items: center;
}
.modal-title{
  color: #060420;
  font-weight: 600;
}
.digitalData{
  font-size: 60px;
  color: white;
} 
.orgRow tr{
  overflow-y: scroll;
}
.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}
/* thead tr{
  position: fixed;
  width: 100%;
} */
.livedata_screen{
  background-color: #003153;
  height: 95vh;
  width: 100%;
}
.no_data_message{
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: grey;
}
.active{
  background-color: #7cff7c;
}
.inactive{
  background-color: #ff8282;
  padding: 2px;
  border-radius: 5px;
}
.authentication-screen{
  background-color: aliceblue;
  background-image: url('https://www.fullestop.com/blog/wp-content/uploads/2019/04/Importance-of-good-UXUI-for-Startups.jpg');
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 90vh;
}
/* .form-input-field{
  padding: 10px 0;
} */
.formBx{
  background-color: white;
  margin-top: 40px;  
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(41, 248, 220, 0.2), 0 6px 20px 0 rgba(26, 243, 142, 0.19);
}
.submitBtn{
  background-color: cyan;
  color: white;
  margin-top: 20px;
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 10px;
}
.title{
  color: #f3f3f3;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
}
input::placeholder{
  color: grey;
  left: 10px;
  position: relative;
  font-size: 15px;
}
p{
  font-family: sans-serif;
  font-size: 13px;
  top: 10px;
  position: relative;
}
.back-cover-img{
  left: 0px;
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  
}

.react-tabs__tab--selected p{
  color: white;
}

/* input{
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  

}

.formInput{
  display: flex;
  flex-direction: column;
  height: 50px;
  
}
span{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;

}
input:invalid[focused="true"]~span{
  display: block;

}
input:invalid[focused="true"]{
 border:1px solid rgb(41, 223, 255);
 
} */

/* border: none;  
background-color: rgb(229, 226, 226);
height: 4em;
width: 80%;
border-radius: 0.25em;
text-align: center;
padding: 2rem; */

div.panel-content {
  margin:4px, 4px;
  padding:4px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: cyan; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkcyan; 
}
td{
  font-size: 14px;
  font-family: sans-serif;
}
.forms{
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
  height: 50%;
}
.chart {
  box-sizing: border-box;
  display: flex;
  height: 500px;
  width: 750px;
  /* border: 1px solid white; */
  /* background-color:white; */
  background-color:rgb(16 18 36);
  border-top: 2px solid rgb(255, 0, 170);
  margin-top: 0em;
  margin-left: 2em;
  padding: 0px 60px;
  border-radius: 10px;
  
}
a{
  text-decoration: none;
}
.thumb{
  width: 40px;
  height: 40px;
}
h6{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profImg{
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 40%;
  position: relative;
}

.loadingBx{
  display: flex;
  justify-content: center;
  top: 30%;
  position: relative;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.header-icon:hover{
  background-color: inherit;
}
div.modal-body p{
  color: #111;
}
th{
  font-size: 18px;
  font-family: sans-serif;
}